.DS_Store
cluster_deployer/playbook/roles/deploy_nfs/files/autofs/*
cluster_deployer/playbook/roles/deploy_torque/templates/config
cluster_deployer/playbook/hosts
cluster_deployer/playbook/roles/deploy_torque/templates/server_name
cluster_deployer/playbook/roles/deploy_torque/templates/etc_hosts
cluster_deployer/playbook/roles/deploy_nfs/files/exports
cluster_deployer/playbook/ansible.cfg
__pycache__