---
# file: client01
distro_mnt: {{ client_conf.distro_mnt }}
distro_name: {{ client_conf.distro_name }}
distro_iso: {{ client_conf.distro_iso }}
distro_arch: {{ client_conf.distro_arch }}
system_name: {{ client_conf.system_name }}
kickstart_path: {{ client_conf.kickstart_path }}
pxe_mac: {{ client_conf.pxe_mac }}
pxe_ip: {{ client_conf.pxe_ip }}
...