export MODULEPATH="{{ hpc_conf.packages.modulepath }}:{{ hpc_conf.packages.cluster_utils_root }}/share/modulefiles/:$MODULEPATH"
export PATH="{{ hpc_conf.packages.path }}:{{ hpc_conf.packages.cluster_utils_root }}/bin:$PATH"