---
# 版权声明：Nordata BioTech Company
# --------------------------
# 描述：集群自动化部署配置文件，用于定义集群部署过程中所需要的配置信息；
# 注意：使用此软件需要所有节点已经完成硬件部署，部署顺序为:
#      deploy_infiniband(部署Infiniband驱动)
#      deploy_torque(部署集群管理软件)
#      deploy_nfs(部署NFS服务)
#      deploy_nis(部署统一账户系统)
#      add_users(添加账户)

# Author：YJC
# Email：yjcyxky@163.com
# --------------------------

# ansible配置文件，如果未做免密登录可不设置
ansible:
  priv_key_file: /Users/FK/.ssh/id_rsa

# 集群配置
## 注意：
### storage区块当前只支持一台机器，且必须是NFS所在服务器，可于manager在同一台机器
### workers区块支持定义多台机器，当有N台计算节点需要配置时，应该将其均添加进来
hpc_conf:
  # 以下区块需要依据集群变更情况进行修改
  nis:
    nis_domain: fgci.csc.fi
    nis_server_address: 192.192.192.10
    nis_secure_net: "255.255.0.0 192.192.0.0"
  storage: 
    node_name: "anchordx"
    ip: 192.192.192.10
    infiniband_ip: 10.10.10.10
    port: 22
    user: supersan
    volumes: [ "/dev/mapper/XXX" ]
    pools: [ "home" ]
  manager:
    node_name: "anchordx"
    ip: "192.192.192.10"
    infiniband_ip: "10.10.10.10"
    port: 22
    user: supersan
  workers: [
    {
      "node_name": "anchordx01",
      "ip": "192.192.192.11",
      "infiniband_ip": "10.10.10.11",
      "port": 22,
      "user": supersan
    },
    {
      "node_name": "anchordx02",
      "ip": "192.192.192.12",
      "infiniband_ip": "10.10.10.12",
      "port": 22,
      "user": supersan
    },
    {
      "node_name": "anchordx03",
      "ip": "192.192.192.13",
      "infiniband_ip": "10.10.10.13",
      "port": 22,
      "user": supersan
    }
  ]

...
