---
# 版权声明：Nordata BioTech Company
# --------------------------
# 描述：集群自动化部署配置文件，用于定义集群部署过程中所需要的配置信息；
# 注意：使用此软件需要所有节点已经完成硬件部署，部署顺序为:

# 0. deploy_infiniband(部署 Infiniband 驱动)

# Notice: 确认存储卷正常工作后，将卷对应的路径填入配置文件中，而后务必在此运行 cluster-deployer clean && cluster-deployer init
# 1. deploy_fstab(务必先部署 Infiniban 驱动，同时确保 multipath 正常工作)
# 2. deploy_torque(部署集群管理软件)
# 3. deploy_nfs(部署 NFS 服务)
# 4. deploy_nis(部署统一账户系统)
# 5. deploy_packages(安装 environment-modules、cluster-utils 等)

# Author：YJC
# Email：yjcyxky@163.com
# --------------------------

# ansible配置文件，如果未做免密登录可不设置
ansible:
  priv_key_file: /Users/FK/.ssh/id_rsa

# 若需要部署 cobbler，则需要依据需求修改以下配置
cobbler:
  # The simplest way to change the password is to run
  # openssl passwd -1
  # and put the output between the "" below.
  cobbler_default_password_crypted: $1$0j9R7J3U$qhH8N9oXlytT.pEjjSud60
  # bind cobbler webserver with network interface, e.g. eth1 / em1
  bound_interface: eth1
  # e.g. listen on eth4 / em4 network interface
  cobbler_dhcp_listen_interfaces: eth1
  subnet:
    cobbler_dhcp_subnet: 10.0.2.0
    cobbler_dhcp_option_routers: 10.0.2.2
    cobbler_dhcp_option_domain_name_servers: 10.0.2.2
    cobbler_dhcp_dynamic_bootp_start: 10.0.2.100
    cobbler_dhcp_dynamic_bootp_end: 10.0.2.254
  cobbler:
    node_name: "cobbler"
    ip: "127.0.0.1"
    port: 2222
    user: root   


# 集群配置
## 注意：
### storage区块当前只支持一台机器，且必须是NFS所在服务器，可于manager在同一台机器
### workers区块支持定义多台机器，当有N台计算节点需要配置时，应该将其均添加进来
hpc_conf:
  # 以下区块需要依据集群变更情况进行修改
  packages:
    # For #packages#packages.repo.j2
    yum_repo: "http://download.fedoraproject.org/pub/epel/7/SRPMS"
    gpgkey: "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7"
    # For #packages#bashrc.j2
    modulepath: "/opt/local/cluster-utils/share/modulefiles"
    path: "/opt/local/cluster-utils/conda/bin:/opt/local/cluster-utils/bin"
    # For #packages#main.yml.j2
    enable_cluster_utils: True
    # 末尾不能带有反斜杠
    cluster_utils_root: "/opt/local"
    cluster_utils_repo: "https://github.com/go-choppy/cluster-utils"
    enable_module: True
    packages: ["environment-modules", "jq", "python-paramiko"]
    conda_url: "https://mirrors.tuna.tsinghua.edu.cn/anaconda/miniconda/Miniconda2-latest-Linux-x86_64.sh"
  infiniband:
    packages: []
    yum_repo: "http://download.fedoraproject.org/pub/epel/7/SRPMS"
    gpgkey: "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7"
  nis:
    nis_domain: fgci.csc.fi
    nis_server_address: 127.0.0.1
    nis_secure_net: "255.255.0.0 192.192.0.0"
  storage: 
    node_name: "anchordx"
    ip: 127.0.0.1
    infiniband_ip: 10.10.10.10
    port: 2222
    user: vagrant
    volumes: [ "/dev/mapper/XXX" ]
    pools: [ "home" ]
  manager:
    node_name: "anchordx"
    ip: "127.0.0.1"
    infiniband_ip: "10.10.10.10"
    port: 2222
    user: vagrant
  workers: [
    {
      "node_name": "anchordx01",
      "ip": "127.0.0.2",
      "infiniband_ip": "10.10.10.11",
      "port": 2222,
      "user": vagrant
    }
  ]

...
